.container-padding {
    padding-top: 15px;
}
.main-body{
    background-color: white;
}
.login-background {
    background-color: #f9f9f9;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.login-color {
    color: #ffffff;
}

.login-div {
    background-color: white;
    width: 80%;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin-left: 10%;
    padding: 20px;
    display: inline-block;
}

.main-div {
    padding: 5px;
    width: 30%;
    margin-left: 35%;
    padding-top: 10%;
}

.btn-block {
    width: 100%;
}

.signin-label {
    font-size: 22px;
    font-weight: 100px;
}

.tab-panel {
    background-color: #fafbfc;
}

.nav-tabs .active {
    border-top: solid 3px #e36209;
}

.btn-file {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}