# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

!optimusinventory-api/src/main/java/optimusinventory/api/log

#upload
upload-dir/