<div class="container">
    <div class="row">
        <div class="container">
            <div class="row" style="padding: 20px;">
                <div class="col-md-8">
                    <h4 class="text-center">Debtors on your inventory</h4>
                    <div class="table-responsive bg-white card">
                        <table class="table table-striped table-condensed table-bordered">
                            <thead>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>Snow</td>
                                    <td>678987451</td>
                                    <td>400</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>&nbsp; View </button>                                        &nbsp;
                                        <button class="btn btn-success btn-xs"><i class="fa fa-eye"></i>&nbsp; Pay </button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive bg-white card">
                        <h4 class="text-center">Transaction History for John Doe</h4>
                        <table class="table table-condensed table-striped table-bordered">
                            <thead>
                                <th>#</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>11/09/2001</td>
                                    <td>4500</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>&nbsp; View </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>