<div class="login-background fill-screen">
    <div class="main-div">
        <p class="signin-label text-center">Sign in to OptimusInventory</p>
        <div class="login-div">
            <form>
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" ng-model="ctrl.user.username" id="username" class="form-control"
                           placeholder="Username" required="required"
                           data-error="Username is required"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <a href="#" class="pull-right">forgot password</a>
                    <input type="password" ng-model="ctrl.user.password" id="password" class="form-control"
                           placeholder="Password" required="required"
                           data-error="Bro, you no get password?"/>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success btn-block" ng-click="ctrl.login()">Sign in</button>
                </div>
            </form>
        </div>
        <br/><br/>
        <div class="x_content">
            <div ng-if="ctrl.isError" class="alert alert-error alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.resetError()">&times;</a>
                <strong>Error!</strong>&nbsp; <span ng-bind="ctrl.errorMessage"></span>
            </div>
        </div>
    </div>