<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">

            <div class="clearfix"></div>

        </div>
    </div>

    <ul class="nav nav-tabs" style="padding-top: 10px">
        <li role="presentation"><a href="#/admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li role="presentation"><a href="#/users"><i class="fa fa-group"></i>&nbsp;Manage Users</a></li>
        <li role="presentation"><a href="#/admin_inventory"><i class="fa fa-cubes"></i>&nbsp;View Stock</a></li>
        <li role="presentation" class="active"><a href="#/logs"><i class="fa fa-cubes"></i>&nbsp;Logs</a></li>
    </ul>

    <h1>Logs</h1>

    <div class="alert alert-success alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
</div>