<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">

            <div class="clearfix"></div>

        </div>
    </div>

    <ul class="nav nav-tabs" style="padding-top: 10px">
        <li role="presentation"><a href="#/admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li role="presentation"><a href="#/users"><i class="fa fa-group"></i>&nbsp;Manage Users</a></li>
        <li role="presentation"><a href="#/machines"><i class="fa fa-print"></i>&nbsp;Manage Machines</a></li>
        <li role="presentation"><a href="#/admin_inventory"><i class="fa fa-database"></i>&nbsp;View Stock</a></li>
        <li role="presentation" class="active"><a href="#/logs"><i class="fa fa-archive"></i>&nbsp;Logs</a></li>
    </ul>

    <div class="row">
        <br/>
        <div class="form-group">
            <div class="col-md-3">
                <label>Start date</label>
                <input type="date" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>End date</label>
                <input type="date" class="form-control" />
            </div>
        </div>

    </div>
    <hr/>
    <br/>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Stock item sales</h4>
                <div class="clearfix"></div>
            </div>
            <div class "x_content">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="itemsales" value=""> All stock Items
                        </label><br/>
                        <label>
                            <input type="radio" name="itemsales" value=""> Select stock Item
                        </label>
                    </div>
                </div>

            </div>
            <hr/>
            <button class="btn btn-primary">Print</button>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Stock movement</h4>
                <div class="clearfix"></div>
            </div>
            <div class "x_content">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                                <input type="radio" name="itemsales" value=""> All stock items
                            </label><br/>
                        <label>
                                <input type="radio" name="itemsales" value=""> Select stock item
                            </label>
                    </div>
                </div>

            </div>
            <hr/>
            <button class="btn btn-primary">Print</button>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Machine logs</h4>
                <div class="clearfix"></div>
            </div>
            <div class "x_content">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                                    <input type="radio" name="itemsales" value=""> All machines
                                </label><br/>
                        <label>
                                    <input type="radio" name="itemsales" value=""> Select machine
                                </label>
                    </div>
                </div>

            </div>
            <hr/>
            <button class="btn btn-primary">Print</button>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>User logs</h4>
                <div class="clearfix"></div>
            </div>
            <div class "x_content">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                                        <input type="radio" name="itemsales" value=""> All users
                                    </label><br/>
                        <label>
                                        <input type="radio" name="itemsales" value=""> Select user
                                    </label>
                    </div>
                </div>

            </div>
            <hr/>
            <button class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<script src="../js/custom.min.js"></script>