<div class="container">
    <br/>
    <div class="row">
        <div ng-if="ctrl.isSuccess" class="alert alert-success alert-dismissable">
            <a class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.resetSuccess()">&times;</a>
            <strong>Success!</strong>&nbsp;
            <span ng-bind="ctrl.successMessage"></span>
        </div>
        <div ng-if="ctrl.isError" class="alert alert-error alert-dismissable">
            <a class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.resetError()">&times;</a>
            <strong>Error!</strong>&nbsp;
            <span ng-bind="ctrl.errorMessage"></span>
        </div>
    </div>
    <form name="form">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Machine</label>
                    <select name="machine" required class="form-control" ng-model="ctrl.machineItem.machine" ng-options="x.name for x in ctrl.allMachines"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Quantity</label>
                    <input name="quantity" required type="number" ng-model="ctrl.machineItem.quantity" min="1" placeholder="e.g 20" class="form-control"
                    />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Quality</label>
                    <select name="quality" required class="form-control" ng-model="ctrl.machineItem.quality" ng-options="x for x in ctrl.allMachineQualities"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Unit price</label>
                    <input name="unitPrice" required type="number" ng-model="ctrl.machineItem.unitPrice" placeholder="e.g 25" min="1" class="form-control"
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div>
                        <button ng-disabled="form.machine.$invalid || form.quantity.$invalid || form.quality.$invalid || form.unitPrice.$invalid"
                            class="btn btn-success" ng-click="ctrl.addMachineItem()">Save</button> &nbsp;
                        <button class="btn btn-danger" ng-click="ctrl.clearMachineItem()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr/>
    <div class="row">
        <table class="table table-bordered  table-striped">
            <thead>
                <th>#</th>
                <th>Machine</th>
                <th>Quantity</th>
                <th>Quality</th>
                <th>Unit Price</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr ng-repeat="machineItem in ctrl.allMachineItems">
                    <td>{{$index + 1}}</td>
                    <td>
                        <span ng-bind="machineItem.machine.name"></span>
                    </td>
                    <td>
                        <span ng-bind="machineItem.quantity"></span>
                    </td>
                    <td>
                        <span ng-bind="machineItem.quality"></span>
                    </td>
                    <td>
                        <span ng-bind="machineItem.unitPrice"></span>
                    </td>
                    <td>
                        <span ng-bind="machineItem.total"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>