<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">

      <div class="clearfix"></div>

    </div>
  </div>

  <ul class="nav nav-tabs" style="padding-top: 10px">
    <li role="presentation"><a href="#/admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
    <li role="presentation" class="active"><a href="#/users"><i class="fa fa-group"></i>&nbsp;Manage Users</a></li>
    <li role="presentation"><a href="#/admin_inventory"><i class="fa fa-cubes"></i>&nbsp;View Stock</a></li>
  </ul>
  <!-- top navigation --
        <!-- /top navigation -->

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><small>Users</small></h2>
        <button class="btn btn-primary pull-right">New user</button>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
          Users on OptimusInventory
        </p>
        <table class="table table-striped projects table-bordered">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th style="width: 20%">Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Privileges</th>
              <th style="width: 20%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in ctrl.users">
              <td>$index(user)</td>
              <td>
                <a><span ng-bind="user.username"></span></a>
                <br />
                <small>Created <span ng-bind="user.createdOn"></small>
              </td>
              <td><span ng-bind="user.firstName"></span></td>
              <td><span ng-bind="user.lastName"></span></td>
              <td><span ng-bind="user.phoneNumber"></span></td>
              <td>
                <a ng-repeat="privilege in user.privileges">
                  <span ng-bind="privilege"></span>
                </a>
              </td>
              <td>
                <a ng-if="user.username != 'admin'" href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                <a ng-if="user.username != 'admin'" href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>